/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Navigation Styles */
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    margin: 0;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hero Section Styles */
  .hero {
    background-color: #f4f4f4;
    padding: 100px 0;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* Featured Products Styles */
  .featured-products {
    padding: 50px 0;
  }

  .featured-products .left {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    overflow:auto
  }
  
  .featured-products .container{
    #background-color: #c1d2d5;
    #padding: 0 15px;
    #float: left;
    #width: 80%;    
  }

  .mb-4 {
    padding: 20px 50px;
  }
  
  .product {
    display: inline-block;
    max-width: 260px;
    padding: 10px 10px 10px;
    margin: 20px;
  }
  
  .product img {
    width: 200px;
    height: auto;
  }
  
  .product h3 {
    font-size: 24px;
  }
  
  .product p {
    margin-bottom: 20px;
  }
  
  .product button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }

  .product a {
    background-color: #0e0af2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
   }
  
  .product button:hover {
    background-color: #555;
  }

  .page-wrapper {
    width: 100%;
    max-width: 1000px; /* Adjust as needed */
    margin: 0 auto; /* Center the page horizontally */
  }
  .container1 {
    width: 100%;
  }
  .container1 .left-section {
    background-color: #f4f4f4;
    padding: 20px;
  }

  .container1 .right-section {
    background-color: #f4f4f4;
    padding: 20px;
  }

  .container1 .left-section img {
    max-width:70%;
    height:auto;
  }

  .container1 .left-section a {
    background-color: #0e0af2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }

  /* get the screen size and handle page the responsiveness accordingly */
  @media only screen and (min-width: 1000px) {

    .container1 {
      display: flex; /* Use flexbox */
    }
    .container1 .left-section {
      flex: 1; /* Occupy 50% of the container */
      background-color: #f4f4f4;
      padding: 20px;
    }
  
    .container1 .right-section {
      flex: 1; /* Occupy 50% of the container */
      background-color: #f4f4f4;
      padding: 20px;
    }
}
  
  .container1 .right-section {
    margin-left: 20px; /* Add some spacing between sections */
    background-color: #f4f4f4;
  }

  .container1 .right-section table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .container1 .right-section td, th {
    border: 1px solid #d45050;
    text-align: left;
    padding: 8px;
  }

  .container1 .right-section a {
    background-color: #0e0af2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .container1 .right-section tr:nth-child(even) {
    background-color: #dddddd;
  }

  
  
  /* Footer Styles */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  